<nav role="navigation" id="js-menu" class="sliding-menu-content">
  <h5><span>{{ site.data.messages.locales[site.locale].toc }}</span></h5>
  <ul class="menu-item">
    {% for link in site.data.navigation %}<li>
      <a href="{{ site.url }}{{ link.url }}">
        <div  style="font-size:24px">{{ link.title }}</div>
      </a>
    </li>{% endfor %}
  </ul>
</nav>
<button type="button" id="js-menu-trigger" class="sliding-menu-button lines-button x2" role="button" aria-label="Toggle Navigation">
  <span class="nav-lines"></span>
</button>

<div id="js-menu-screen" class="menu-screen"></div>
