---
layout: default
---

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		{% include breadcrumbs.html %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		<div class="inner-wrap">
			<div id="content" class="page-content" itemprop="articleBody">
        <div style="text-align:center"><img src="/images/changyong/banner.jpg" width="100%"></div><br><br>
				{{ content }}
				<hr />
        <div style="text-align:center"><img src="/images/changyong/tougaobaoliao.jpg" width="100%"></div>
        <div style="text-align:center"><a href="https://gonghao51.github.io/2020/08/22/fangshilian/"><img src="/images/changyong/fangshilian.jpg" width="100%"><br>点此了解51的防失联计划</a></div><br>

        <img src="https://hitcounter.pythonanywhere.com/count/tag.svg" alt="Hits">
				<footer class="page-footer">
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->
